nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding: 0.3rem 1.5rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1.5rem;
  display: flex;
  gap: 0.5rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}


nav a {
    display: flex;
    background: transparent;
    color: var(--color-light);
    font-size: 1rem;
    padding: 0.9rem;
    border-radius: 50%;
}

nav a:hover{
    background: rgba(0, 0, 0, 0.3);
    color: var(--color-primary);
}

nav a.active{
    background: var(--color-bg);
    color: var(--color-primary);
}
